body {
  background-color: rgb(33, 56, 10);
  background-image: url(goats.jpeg);
  /* font-family: "Times New Roman", Times, serif; */
}
.nav1 {
  padding-top: 20px;
  color: coral;
  font-size: 60px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.up {
  text-align: center;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
